 #navBar {
                background-color:deepskyblue;
            }      

            /* rodape */
            footer {
                background-color: #3330f6b0;
                color: white;
                padding: 15px;
                position: fixed;
                bottom:0;
                left:0;                
            }             
            a:focus, a:hover {
                color: white;
                text-decoration: underline;
            } 
            h3{
                text-align: center;
                padding-bottom: 15px;
            }
            img{
                padding-bottom: 25px;
/*                width: 330px;
                height: 220px;*/
            }
            .rodape1{
                color: black;
            }
            button{
                padding-top: 25px;
            }
            
            /*Botao de ajuda*/
/*            .btn-custom {
                padding: 1px 15px 3px 2px;
                border-radius: 50px;
            }

            .btn-icon {
                padding: 8px;
                background: #ffffff;
            }*/